@{
    ViewData["Title"] = "Home Page";
}
 <app-root>Loading...</app-root></body>

<script type="text/javascript" src="~/dist/inline.bundle.js"></script>
<script type="text/javascript" src="~/dist/polyfills.bundle.js"></script>
<script type="text/javascript" src="~/dist/styles.bundle.js"></script>
<script type="text/javascript" src="~/dist/vendor.bundle.js"></script>
@section scripts {
    <script type="text/javascript" src="~/dist/main.bundle.js"></script>
}
